<html>
<head>
<% include ./partials/head %>
<script>
	var token = localStorage.getItem('token');
	var socket = io({query : {'token': token}});
	socket.emit('join-room', token);
</script>
<title>Device</title>
</head>
<body>
	<% include ./partials/header %>
	<div class="container main">
		<div class="well">
			<div class="row">
				<div class="col-xs-12">
					<a class="btn btn-default pull-right" id="btnAdd" href="#">Add</a>
					<button class="btn btn-default pull-right" id="btnDelete" title="Delete your device">Delete</button>
				</div>
				<div class="col-xs-12"><%listRoom.forEach(function(room){%>
					<div class="col-sm-6 col-xs-12 well">
						<legend><h4 class="white"><%=room.room_name%></h4></legend><% if(room.listDevice.length==0){%>
							<div>No device is used</div><%}else{ room.listDevice.forEach((device)=>{%>
							<div style="width:85px; display:inline-grid;" id="device_<%=device._id%>">
								<div class="thumbnail opacity-background" style="width:100%;">
									<i class="fa fa-times-circle fa-2x close" onclick="delete_device(this)"></i>
									<input type="hidden" value="<%=device._id%>">
									<img src="<%=device.device.img%>" style="width:100%" onclick="control_device(this)" class="img img-circle <%if(device.status==false){%> item-off<%}%>">
									<figcaption class="caption text-center" onclick="editDevice(this)"><%=device.device_name%></figcaption>
									<input type="text" id="edt_device" style="font-size: 12px; display:none; width:100%" onchange="submitEditDevice(this)" value="<%=device.device_name%>">
								</div>
							</div>
						<%});}%>
					</div><%}); %>
					<div class="clearfix"></div>
					<div class="col-xs-12 well" id="listNoRoom">
						<h4 class="white">Other device</h4><%listDevice.forEach((device)=>{%>
						<div style="width:85px; display:inline-grid;" id="device_<%=device._id%>">
							<div class="thumbnail opacity-background" style="width:100%;">
								<i class="fa fa-times-circle fa-2x close" onclick="delete_device(this)"></i>
								<input type="hidden" value="<%=device._id%>">
								<img src="<%=device.device.img%>" style="width:100%" onclick="control_device(this)" class="img img-circle <%if(device.status==false){%> item-off<%}%>">
								<figcaption class="caption text-center" onclick="editDevice(this)"><%=device.device_name%></figcaption>
								<input type="text" id="edt_device" style="font-size: 12px; display:none; width:100%" onchange="submitEditDevice(this)" value="<%=device.device_name%>">
							</div>
						</div><%});%>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ./partials/footer %>
	<script src="/sockets/device.js"></script>
	<script>
	$(document).ready(function(){
		$(".close").hide();
	});
	$('#btnDelete').click(function(){
		$(".close").show();
	});
	
	function editDevice(e){
		$(e).parent().children('input:text').show();
		$(e).hide();
	}
	function submitEditDevice(e){
		console.log('forcus_out');
		let id = $(e).parent().children('input:hidden').val();
		let name = $(e).val();
		let data = {'_id' : id, 'device_name' : name};
		socket.emit('client_send_update_device_in_room', {'data' : data});
		$(e).hide();
		$(e).parent().children('figcaption').show();
	}
	</script>
</body>
</html>
