<!DOCTYPE html">
<html>
<head>
<% include ./partials/head %> 
<link href="/css/switch.css" rel="stylesheet">
<title>Mode</title>
</head>
<body>
	<% include ./partials/header %>
	<div class="container-fluid main">
		<%if(listMode.length>0){
			listMode.forEach(function(mode){
				var starttime = mode.starttime/3600 +':'+mode.starttime%3600/60 +':' +mode.starttime%3600%60;
				var stoptime = mode.stoptime/3600 +':'+mode.stoptime%3600/60 +':' +mode.stoptime%3600%60;
		%>
		<a href="/mode/<%=mode._id%>"><div class="well panel panel-warning col-xs-5">
			<div class="panel-body">
				<div class="col-xs-10">
					<span style="font-size: 25px;"> <%=mode.mode_name%></span>
				</div>
				<div>
					<label class="switch">
						<input type="checkbox" <%if(mode.status==true){%>checked<%}%>>
						<span class="slider round"></span>
					</label>
				</div>
				<div><span class="bold uppercase col-xs-4">Start time: </span><%=starttime %></div>
				<div><span class="bold uppercase col-xs-4">Stop time: </span><%=starttime %></div>
				<div class="bold uppercase col-xs-12">Repeat: </div>
				<ol>
				<%for(var i=0;i<mode.circle.length; i++){%>
					<li class="badge badge-warning"><%=mode.circle[i]%> </li>
				<%}%>
				</ol>
			</div>
		</div></a>
		<%});}else{%>
		<div class="alert alert-warning">You don't have any Mode</div>
		<%}%>
		<a class="label" href="/mode/add"><i class="fa fa-plus fa-4x btn btn-add"></i></a>
	</div>
	<% include ./partials/footer %>
</body>
</html>