<html>
<head>
<% include ./partials/head %>
<title>
	<%=mode.mode_name%> - Mode</title>
<link href="/css/switch.css" rel="stylesheet">
<script>
	var token = localStorage.getItem('token');
	var socket = io({query: {'token': token}});
	socket.emit('join-room', token);
</script>
<script src="/js/ejs.min.js"></script>
</head><%function convertTime(time){return new Date(parseInt(time *1000)).toISOString().split('T')[1].split('.')[0]}%>
<body>
	<div class="wrapper">
	<% include ./partials/header %>
	<div class="content-wrapper main">
		<div class="box box-primary box-solid">
			<div class="box-header">
				<h3 class="box-title uppercase"><%=mode.mode_name%></h3>
				<div class="box-tools pull-right">
					<label class="switch">
						<input type="checkbox" <%if(mode.status==true){%>checked<%}%>>
						<span class="slider round"></span>
					</label>
				</div>
			</div>
			<div class="box-body">
				<div class="row">
					<div class="box-group">
					<%	var start = new Date(parseInt(mode.starttime *1000)).toISOString().split('T')[1].split('.')[0];
						var stop = new Date(parseInt(mode.stoptime *1000)).toISOString().split('T')[1].split('.')[0];%>
						<div><span class="bold uppercase col-md-1 col-xs-2">Start: </span><%=start %></div>
						<div><span class="bold uppercase col-md-1 col-xs-2">Stop: </span><%=stop %></div>
						<div class="bold uppercase col-md-1 col-xs-2">Repeat: </div>
						<ul id="circle">
							<li class="badge <%if(mode.circle.indexOf(0)>=0 || mode.circle.indexOf(7)>=0){%>badge-warning><%}%>" onclick="editCircle(this, 6)">Sun</li>
							<li class="badge <%if(mode.circle.indexOf(1)>=0){%>badge-warning<%}%>" onclick="editCircle(this, 1)">Mon</li>
							<li class="badge <%if(mode.circle.indexOf(2)>=0){%>badge-warning<%}%>" onclick="editCircle(this, 2)">Tue</li>
							<li class="badge <%if(mode.circle.indexOf(3)>=0){%>badge-warning<%}%>" onclick="editCircle(this, 3)">Wed</li>
							<li class="badge <%if(mode.circle.indexOf(4)>=0){%>badge-warning<%}%>" onclick="editCircle(this, 4)">Thu</li>
							<li class="badge <%if(mode.circle.indexOf(5)>=0){%>badge-warning<%}%>" onclick="editCircle(this, 5)">Fri</li>
							<li class="badge <%if(mode.circle.indexOf(6)>=0){%>badge-warning<%}%>" onclick="editCircle(this, 6)">Sat</li>
						</ul>
						<div class="col-xs-12" style="margin:5px;"><button class="btn"><i class="fa fa-plus fa-2x text-info"></i></button></div>
						<%if(mode.modedetail!=null && mode.modedetail.length>0){
						mode.modedetail.forEach(function(modedetail){
							let device = modedetail.device;
							let	perOn = 100.0 * modedetail.schedule.ontime / (mode.stoptime - mode.starttime) ;
							let	perOff = 100.0 * modedetail.schedule.offtime / (mode.stoptime - mode.starttime);
							let	schedule = modedetail.schedule.scheduledetail;
							if(device!=null){
				%>
						<div class="col-xs-6">
							<div class="media" style="border:1px solid; padding:5px;">
								<a class="pull-left"><img class="media-object img <%if(device.status==false){%> item-off<%}%>" style="width : 85px;" src="<%=device.device.img%>"></a>
								<% let on = convertTime(modedetail.schedule.ontime);let off = convertTime(modedetail.schedule.offtime);%>
								<div class="media-body">
									<h4 class="media-heading uppercase"><%=device.device_name%>
										<span class="pull-right">
											<button class="btn btn-edit" onclick="reqUpdateMode(this)"><i class="fa fa-edit text-primary"></i></button>
											<button class="btn btn-save" style="display:none" onclick="saveUpdateMode(this)"><i class="fa fa-save text-success"></i></button>
											<button class="btn"><i class="fa fa-times text-danger"></i></button>
										</span>
									</h4>
									<div class="text">
										<span class="col-md-3"><b>On: </b> <span><%=on%></span></span>
										<span  class="col-md-3"><b>Off: </b> <span><%=off%></span></span>
									</div>
									<div class="form" style="display:none">
										<span class="col-md-3"><b>On: </b> <input type="time" value="<%=on%>" id="ontime"></span>
										<span  class="col-md-3"><b>Off: </b>  <input type="time" value="<%=off%>" id="offtime"></span>
									</div>
									
								</div>
							</div>
						</div>
						<%}%>
						<%});}else{%>
						<div> No device</div><%}%>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ./partials/footer %>
	</div>
	<script>
		var mode_id = '<%=mode._id%>'
		
		function editCircle(e, index){
			let action = '';
			if($(e).hasClass('badge-warning')){
				action = 'pull';
			}else{
				action = 'push';
			}
			socket.emit('client_send_update_circle', {'_id': mode_id, 'circle' : index, 'action' : action})
		}
		socket.on('server_send_update_circle', data=>{
			if(data.success==true){
				if(typeof data.result.circle =='number'){
					let e = $('#circle').children('li:nth-child('+((data.result.circle+1)%7)+')');
					if($(e).hasClass('badge-warning')){
						$(e).removeClass('badge-warning');
					}else{
						$(e).addClass('badge-warning');
					}
				}
			}else{
				alert(data.message);
			}
		})
		
		
		
		function reqUpdateMode(e){
			$(e).parent().children('.btn-save').show();
			$(e).hide();
			$(e).closest('.media-body').children('div.text').hide()
			$(e).closest('.media-body').children('div.form').show()
		}
		function saveUpdateMode(e){
			let ontime = $(e).closest('.media-body').find('.form').children('#ontime').val();			
			let offtime = $(e).closest('.media-body').find('.form').children('#offtime').val();
			console.log('client_send_update_modedetail '+'ontime: '+ontime+ ' off time: '+offtime);
			
			
			$(e).parent().children('.btn-edit').show();
			$(e).hide();
			$(e).closest('.media-body').children('div.text').show()
			$(e).closest('.media-body').children('div.form').hide()
			
		}
	</script>
	<script src="/sockets/device.js"></script>
	<script src="/sockets/modedetail.js"></script>
</body>

</html>
