<html>

<head>
<% include ./partials/head %>
<link rel="stylesheet" href="/css/home.css">
<title><%=room.room_name  + ' - ' + req.session.user.name %></title>
<%if(alertMessage !=null && alertMessage.length>0){%>
	<script>
	$(document).ready(function(){
		alert("<%=alertMessage%>");
	});
	</script>
<%}%>
</head>
<body>
	<% include ./partials/header %>
	<div class="space-medium">
		<div class="container-fluid main">
			<div class="well">
				<div class="row">
					<form method="post" action="/room/update" id="formRoom" enctype="multipart/form-data">
						<input type="hidden" value="<%=room._id%>" name="id">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
							<div id="room_img" class="">
								<i class="fa fa-camera-retro fa-3x text-center img-popup"></i>
								<input type='file' accept="image/*" style="display: none" onchange="readURL(this);" name="file" />
								<img id="image-preview"  class="img img-thumbnail img-room" src="<%=room.img%>%>" alt="your image" />
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 col-xs-8">
							<div class="col-xs-12 visible-lg" style="height:220px;"></div>
							<div class="col-xs-10">
								<input type="text" id="txtRoomName" name="room_name" class="col-xs-6 font24 form-control" value="<%=room.room_name%>">
							</div>
							<div class="col-xs-2">
								<button class="btn btn-default" type="submit" id="btnSubmitFormRoom"><i class="fa fa-save"></i></button>
							</div>
							<h2 class="bottomleft" id="lblRoomName"><%=room.room_name%></h2>
						</div>
					</form>
				</div>
				<hr>
				<div class="row" id="mlistDevice">
				<% if(listDeviceRoom.length==0){%>
					<div class="col-xs-4" id="nodeviceuse"> No device is used</div>
					<div class="col-xs-8">
					<button class="btn btn-default pull-right" id="btnEdit" title="Edit room">Edit</button>
					<button class="btn btn-success pull-right" id="btnSave" title="Done">Done</button>
					</div>
					<div class="clearfix"></div>
				<%}else{%>
					<div class="col-xs-12">
						<button class="btn btn-default pull-right" id="btnEdit" title="Edit room">Edit</button>
						<button class="btn btn-success pull-right" id="btnSave" title="Done">Done</button>
					</div>
				<%	for(var i = 0; i<listDeviceRoom.length; i++){
					var device = listDeviceRoom[i];
				%>
					<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
						<div class="thumbnail" onclick="img_click(this)">
							<i class="fa fa-times-circle fa-2x close" onclick="remove_device(this)"></i>
							<input type="hidden" value="<%=device._id%>">
							<img src="<%=device.device.img%>" style="width:100%" class="img <%if(device.status==false){%> item-off<%}%>">
							<figcaption class="caption text-center"><%=device.device_name%></figcaption>
						</div>
					</div>
				<%}}%>
				<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<div class="thumbnail  opacity-background">
						<img src="https://cdn0.iconfinder.com/data/icons/flat-social-media-icons-set-round-style-1/550/netvibes-512.png" style="width:100%; opacity : 0.7;" class="img">
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<% include ./partials/footer %>
</body>
<script  type="text/javascript">
	$("#room_img i").click(function(){
		$("#room_img").children("input").click();
	});
	$(document).ready(function(){
		$(".close").hide();
		$("#btnSave").hide();
		$('#btnSubmitFormRoom').hide();
		$('#txtRoomName').hide();
		$('#btnEdit').click();
	});
	$('#btnEdit').click(function(){
		$(".close").show();
		$('#lblRoomName').hide();
		$('#txtRoomName').show();
		$('#btnSubmitFormRoom').show();
		$("#btnSave").show();
		$('#btnEdit').hide();
	});
	$("#btnSave").click(function(){
		$(".close").hide();
		$('#lblRoomName').show();
		$('#txtRoomName').hide();
		$('#btnSubmitFormRoom').hide();
		$("#btnSave").hide();
		$('#btnEdit').show();
	});

	function remove_device(e){
		var item = $(e).parent();
		$.ajax({
			url: '/device/removeroom',
			type: 'DELETE',
			data: {'id': item.children('input').val()},
			success: function(data){
				if(data.success==true){
					item.remove();
				}else{
					alert(data.message);
				}
			},
			error: function(){
				alert('Error! An error occurred. Please try again later');
			}
		});
	}
</script>
</html>
