<html>
<head>
<% include ./partials/head %>
<script>
	var token = localStorage.getItem('token');
	if (token == null || token == undefined) {
		token = "<%=req.session.usertoken%>";
		localStorage.setItem('token', token);
	}
	var socket = io({query : {'token': token}});
	socket.emit('join-room', token);
</script>
<script src="/js/ejs.min.js"></script>
<title>Room</title>
</head>
<body>
	<%- include('./partials/header'); %>
<main>
	<div class="container main">
		<div class="row">
			<div class="well"><%if(listRoom.length ==0){%>
				<div id="noroom">No room</div><%}else{%>
				<div id="haveroom">
					<div class="col-xs-12">
						<div class="row">
							<div id="carousel" class="row"><%listRoom.forEach((room)=>{%>
								<%- include('./partials/item_room', {'room' : room}) %><%});%>
							</div>
						</div>
						<i class="fa fa-angle-left fa-2x controler-left"></i>
						<i class="fa fa-angle-right fa-2x controler-right"></i>
						<input type="hidden" value="<%=listRoom.length%>" id="length">
						<input type="hidden" value="0" id="currentIndex">
					</div>
					<div class="clearfix"></div>
					<!-- Content room -->
					<div class="tab-content"><% for(var i=0; i<listRoom.length; i++){%>
						<div class="tab-pane well opacity-background fade<%if(i==0){%> in active<%}%>" id="room_<%=listRoom[i]._id%>">
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-group-lg dropdown-toggle" data-toggle="dropdown">
								<%=listRoom[i].room_name%>
								<i class="fa fa-ellipsis-v" style="padding-right:0px;"></i>
								</button>
								<ul class="dropdown-menu">
									<li><a href="/room/<%=listRoom[i]._id%>"> Update room </a></li>
									<li><a onclick="deleteRoom(this, 0)">Delete room
										<input type="hidden" value="<%=listRoom[i]._id%>" name="id">
										</a>
									</li>
									<li><a onclick="deleteRoom(this, 1)">Delete room and device
										<input type="hidden" value="<%=listRoom[i]._id%>">
										</a>
									</li>
								</ul>
							</div><%if(listRoom[i].listDevice == undefined || listRoom[i].listDevice == null || listRoom[i].listDevice.length == undefined || listRoom[i].listDevice.length==0){%>
							<div class="row opacity-background">
								<div class="col-xs-12" id="nodeviceuse"> No device is used</div>
							</div><%}else{%>
							<div class="row opacity-background">
								<div id="havedevice"><%listRoom[i].listDevice.forEach(function(device){%>
								<%- include('./partials/item_device', {'device' : device});%><%})%>
								</div>
							</div><%}%>
						</div><%}%>
					</div>
				</div>
				<input type="hidden" value="<%=listRoom.length%>" id="lengthRoom"><%}%>
			</div><!-- end well-->
			<a class="label" href="/room/add"><i class="fa fa-plus fa-3x btn btn-add"></i></a>
		</div><!-- end row-->
	</div><!-- end container-->
	<script src="/js/carousel.js"></script>
	<script src="/sockets/room.js"></script>
	<script src="/sockets/device.js"></script>
</main>
<%- include('./partials/footer'); %>
</body>

</html>
