<!DOCTYPE html">
<html>

<head>
<% include ./partials/head %>
<script src="/sockets/room.js"></script>
<title>Room</title>
</head>

<body>
	<% include ./partials/header %>
	<div class="container main">
		<div class="row" id="pane_Room">
			<div class="col-xs-12"><h1><b>ROOM</b></h1><hr></div>
		<% 	for(var i =0; i<listRoom.length; i++){
				var room = listRoom[i];
				var name = '';
				if(room.room_name.length < 30){
					name = room.room_name;
				}else{
					name = room.room_name.substring(0, 25)+'...';
				}
				if(i%4==0&&i>0){%>
			<div class="clearfix"></div>		
				<%}	%>
			<div class="col-md-3 col-xs-6 col-sm-6" id="<%=room._id%>">
				<div class="thumbnail">
					<a href="/room/<%=room._id%>">
						<input type="hidden" value="<%=room._id%>">
						<img src="<%= room.img %>" alt="room"  style="min-height:17vw" class="img-room img">
						<div class="caption row">
							<font class="col-xs-10" style="font-size:17px;"><%=name%></font>
							<div class="col-xs-1">
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									<i class="fa fa-ellipsis-v text-center col-xs-1" ></i>
									</a>
									<ul class="dropdown-menu">
										<li><a> Update room </a></li>
										<li><a onclick="deleteRoom(this, 0)">Delete room</a>
											<input type="hidden" value="<%=room._id%>" name="id">
										</li>
										<li><a onclick="deleteRoom(this, 1)">Delete room and device</a>
											<input type="hidden" value="<%=room._id%>">
										</li>
									</ul>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		<%}%>
		<div class="clearfix"></div>
		</div>
		<a class="label" href="/room/add"><i class="fa fa-plus fa-4x btn btn-add"></i></a>
	</div>
	<% include ./partials/footer %>
</body>

</html>
